# Web Framework
fastapi>=0.109.0
uvicorn>=0.27.0
python-multipart
email-validator
uvicorn
gunicorn

# Database
SQLAlchemy>=2.0.25
alembic
asyncpg  # Required for Postgres on Render
aiosqlite # Keep for local dev fallback or easy testing

# Environment
python-dotenv
pydantic>=2.5.3
pydantic-settings

# Network & Crawler
httpx>=0.28.1
beautifulsoup4
feedparser
playwright>=1.40.0

# Asynchronous Tasks
celery>=5.3.6
redis>=5.0.1
APScheduler

# Authentication / Security
passlib[bcrypt]
python-jose[cryptography]

# Data Science / Finance
yfinance>=0.2.33
pandas>=2.0.0
numpy
pandas_ta
textblob
nltk

# Utils
requests
